{
  "network": {
    "rpc": "http://localhost:8545",
    "interface": "::1",
    "port": 8678
  },
  "account": {
    "address": "0x...",
    "privateKey": "0x..."
  },
  "amount": 1,
  "gas": 40000
}
